In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [2]:
museums_csv_file = "museums.csv"
museums_df = pd.read_csv(museums_csv_file)
museums_df

/Users/lcambero/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (9,14,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Museum ID,Museum Name,Legal Name,Alternate Name,Museum Type,Institution Name,Street Address (Administrative Location),City (Administrative Location),State (Administrative Location),Zip Code (Administrative Location),...,Latitude,Longitude,Locale Code (NCES),County Code (FIPS),State Code (FIPS),Region Code (AAM),Employer ID Number,Tax Period,Income,Revenue
0,8400200098,ALASKA AVIATION HERITAGE MUSEUM,ALASKA AVIATION HERITAGE MUSEUM,NaN,HISTORY MUSEUM,NaN,4721 AIRCRAFT DR,ANCHORAGE,AK,99502,...,61.17925,-149.97254,1.0,20.0,2.0,6,920071852,201312.0,602912.0,550236.0
1,8400200117,ALASKA BOTANICAL GARDEN,ALASKA BOTANICAL GARDEN INC,NaN,"ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER",NaN,4601 CAMPBELL AIRSTRIP RD,ANCHORAGE,AK,99507,...,61.16890,-149.76708,4.0,20.0,2.0,6,920115504,201312.0,1379576.0,1323742.0
2,8400200153,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,NaN,SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM,NaN,9711 KENAI SPUR HWY,KENAI,AK,99611,...,60.56149,-151.21598,3.0,122.0,2.0,6,921761906,201312.0,740030.0,729080.0
3,8400200143,ALASKA EDUCATORS HISTORICAL SOCIETY,ALASKA EDUCATORS HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,214 BIRCH STREET,KENAI,AK,99611,...,60.56280,-151.26597,3.0,122.0,2.0,6,920165178,201412.0,0.0,0.0
4,8400200027,ALASKA HERITAGE MUSEUM,ALASKA AVIATION HERITAGE MUSEUM,NaN,HISTORY MUSEUM,NaN,301 W NORTHERN LIGHTS BLVD,ANCHORAGE,AK,99503,...,61.17925,-149.97254,1.0,20.0,2.0,6,920071852,201312.0,602912.0,550236.0
5,8400200096,ALASKA HISTORICAL MUSEUM,ALASKA HISTORICAL MUSEUM INC,NaN,HISTORIC PRESERVATION,NaN,1675 E 5TH AVE,ANCHORAGE,AK,99501,...,61.21785,-149.85049,1.0,20.0,2.0,6,920062352,NaN,NaN,NaN
6,8400200078,ALASKA JEWISH MUSEUM,ALASKA JEWISH HISTORICAL MUSEUM AND CULTURAL C...,NaN,GENERAL MUSEUM,NaN,1117 E 35TH AVE,ANCHORAGE,AK,99508,...,61.18946,-149.86071,1.0,20.0,2.0,6,711010049,201312.0,2658938.0,34374.0
7,8400200084,ALASKA LIGHTHOUSE ASSOCIATION,ALASKA LIGHTHOUSE ASSOCIATION,NaN,HISTORIC PRESERVATION,NaN,2116 B 2ND ST,DOUGLAS,AK,99824,...,58.28299,-134.40583,3.0,110.0,2.0,6,911833974,201312.0,16500.0,16500.0
8,8400200107,ALASKA MASONIC LIBRARY AND MUSEUM FOUNDATION,ALASKA MASONIC LIBRARY AND MUSEUM FOUNDATION,NaN,GENERAL MUSEUM,NaN,PO BOX 190668,ANCHORAGE,AK,99519,...,61.21833,-149.89456,1.0,20.0,2.0,6,920095561,201406.0,0.0,0.0
9,8400200073,ALASKA MINING HALL OF FAME FOUNDATION,ALASKA MINING HALL OF FAME FOUNDATION,NaN,HISTORY MUSEUM,NaN,PO BOX 81906,FAIRBANKS,AK,99708,...,64.85079,-147.82945,2.0,90.0,2.0,6,550819611,201412.0,184295.0,31393.0
10,8400200131,ALASKA NATIONAL GUARD HISTORICAL HOLDING-MUSEUM,ALASKA NATIONAL GUARD HISTORICAL HOLDING-MUSEU...,NaN,HISTORIC PRESERVATION,NaN,PO BPX 5800,FORT RICHARDSON,AK,99505,...,61.25315,-149.68711,1.0,NaN,2.0,6,920141774,NaN,NaN,NaN
11,8400200123,ALASKA NATIVE HERITAGE CENTER,ALASKA NATIVE HERITAGE CENTER INC,NaN,GENERAL MUSEUM,NaN,8800 HERITAGE CENTER DRIVE,ANCHORAGE,AK,99504,...,61.23361,-149.71566,1.0,20.0,2.0,6,920127531,201403.0,4502727.0,4050394.0
12,8409500006,ALASKA SEALIFE CENTER,ALASKA SEALIFE CENTER,NaN,"ZOO, AQUARIUM, OR WILDLIFE CONSERVATION",NaN,301 RAILWAY AVENUE - PO BOX 1329,SEWARD,AK,99664,...,60.20885,-149.38716,4.0,122.0,2.0,6,NaN,NaN,NaN,NaN
13,8400200082,ALASKA SPORTS HALL OF FAME,ALASKA SPORTS HALL OF FAME INC,NaN,GENERAL MUSEUM,NaN,6740 SAMUEL CT,ANCHORAGE,AK,99516,...,61.08741,-149.69260,4.0,20.0,2.0,6,810649085,201312.0,1370930.0,615273.0
14,8400200044,ALASKA STATE MUSEUM,FRIENDS OF THE ALASKA STATE MUSEUM,NaN,GENERAL MUSEUM,NaN,395 WHITTIER ST,JUNEAU,AK,99801,...,58.30048,-134.41480,3.0,110.0,2.0,6,237067119,201312.0,182675.0,129192.0
15,8400200133,ALASKA TERRITORIAL CAVALRY MOTORIZED,ALASKA TERRITORIAL CAVALRY MOTORIZED,ALASKA TERRITORIAL CAVALRY MOTORIZED,GENERAL MUSEUM,NaN,5910 DEBARR ROAD,ANCHORAGE,AK,99516,...,61.19007,-149.91195,1.0,20.0,2.0,6,920145434,201412.0,0.0,0.0
16,8400200026,ALASKA TROOPER MUSEUM,FRATERNAL ORDER OF ALASKA STATE TROOPERS CHARI...,NaN,GENERAL MUSEUM,NaN,245 W 5TH AVE,ANCHORAGE,AK,99501,...,61.21765,-149.88622,1.0,20.0,2.0,6,920091086,201312.0,769702.0,221807.0
17,8400200031,ALASKA VETERANS MUSEUM,ALASKA VETERANS MUSEUM,NaN,HISTORY MUSEUM,NaN,334 W 4TH AVENUE 227,ANCHORAGE,AK,99501,...,61.21406,-149.87855,1.0,20.0,2.0,6,30382080,201412.0,0.0,0.0
18,8400200170,ALASKA WILDLIFE CONSERVATION CENTER,ALASKA WILDLIFE CONSERVATION CENTER INC,NaN,"ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER",NaN,PO BOX 848,GIRDWOOD,AK,99587,...,60.96435,-149.13368,4.0,20.0,2.0,6,920170600,201312.0,3331564.0,2793744.0
19,8400200087,ALASKA ZOO,ALASKA ZOO,NaN,"ZOO, AQUARIUM, OR WILDLIFE CONSERVATION",NaN,4731 OMALLEY RD,ANCHORAGE,AK,99507,...,61.12476,-149.79254,1.0,20.0,2.0,6,920039344,201312.0,3310088.0,2393748.0
20,8400200025,ALASKALAND PIONEER AIR MUSEUM,ALASKALAND PIONEER AIR MUSEUM,NaN,GENERAL MUSEUM,NaN,AIRPORT WAY,FAIRBANKS,AK,99707,...,64.84231,-147.72457,1.0,90.0,2.0,6,NaN,NaN,NaN,NaN
21,8400200109,ALPINE HISTORICAL SOCIETY,ALPINE HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,PO BOX 266,SUTTON,AK,99674,...,61.76392,-148.38192,4.0,170.0,2.0,6,920101994,201412.0,157509.0,157509.0
22,8400200152,ALUTIIQ HERITAGE ENDOWMENT,THE ALUTIIQ HERITAGE ENDOWMENT,NaN,HISTORIC PRESERVATION,NaN,4300 B ST STE 407,ANCHORAGE,AK,99503,...,61.18152,-149.88518,1.0,20.0,2.0,6,920177435,201312.0,331826.0,15734.0
23,8400200135,ALUTIIQ HERITAGE FOUNDATION,ALUTIIQ HERITAGE FOUNDATION,ALUTIIQ MUSEUM ARCHAEOLOGICAL REPOSITORY,GENERAL MUSEUM,NaN,215 MISSION RD STE 101,KODIAK,AK,99615,...,57.78869,-152.40250,3.0,150.0,2.0,6,920150422,201312.0,1103875.0,1055839.0
24,8400200024,AMERICAN TROPHY TAXIDERMY,AMERICAN TROPHY TAXIDERMY,NaN,GENERAL MUSEUM,NaN,41653 STERLING HWY,SOLDOTNA,AK,99669,...,60.50184,-150.98965,4.0,122.0,2.0,6,NaN,NaN,NaN,NaN
25,8400200137,ANCHORAGE CLAY ARTS GUILD,ANCHORAGE CLAY ARTS GUILD,NaN,ART MUSEUM,NaN,PO BOX 241151,ANCHORAGE,AK,99524,...,61.18495,-149.89178,1.0,NaN,2.0,6,920156423,201412.0,0.0,0.0
26,8400200132,ANCHORAGE GENEALOGICAL SOCIETY,ANCHORAGE GENEALOGICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,PO BOX 242294,ANCHORAGE,AK,99524,...,61.18495,-149.89178,1.0,20.0,2.0,6,920143639,201409.0,8282.0,8282.0
27,8400200121,ANCHORAGE HISTORIC PROPERTIES,ANCHORAGE HISTORIC PROPERTIES INC,NaN,HISTORIC PRESERVATION,NaN,645 WEST 3RD AVENUE,ANCHORAGE,AK,99501,...,61.21978,-149.89524,1.0,20.0,2.0,6,920119470,NaN,NaN,NaN
28,8400200125,ANCHORAGE MUSEUM,ANCHORAGE MUSEUM FOUNDATION,NaN,GENERAL MUSEUM,NaN,121 WEST SEVENTH AVENUE,ANCHORAGE,AK,99501,...,61.21608,-149.88530,1.0,20.0,2.0,6,920129376,201312.0,6851982.0,4116780.0
29,8409502704,ARC GALLERY,UNIVERSITY OF ALASKA,NaN,ART MUSEUM,UNIVERSITY OF ALASKA ANCHORAGE,3211 PROVIDENCE DRIVE,ANCHORAGE,AK,99508,...,64.81712,-147.87837,2.0,90.0,2.0,6,926000147,201306.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33042,8409501047,UNIVERSITY OF WYOMING PLANETARIUM,UNIVERSITY OF WYOMING,NaN,SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM,UNIVERSITY OF WYOMING,1000 EAST IVINSON AVENUE,LARAMIE,WY,82072,...,41.42252,-105.60719,4.0,1.0,56.0,5,8.36e+08,201306.0,NaN,NaN
33043,8405600176,UPTON HISTORY & HERITAGE PRESERVATION,UPTON HISTORY & HERITAGE PRESERVATION INC,NaN,HISTORY MUSEUM,NaN,PO BOX 425,UPTON,WY,82730,...,44.03606,-104.70665,4.0,45.0,56.0,5,8.30337e+08,201312.0,0.0,0.0
33044,8409400715,UPTON RED ONION MUSEUM,UPTON RED ONION MUSEUM,NaN,GENERAL MUSEUM,NaN,203 PINE ST.,UPTON,WY,82730,...,44.03606,-104.70665,4.0,NaN,56.0,5,NaN,NaN,NaN,NaN
33045,8405600003,VETRANS MEMORIAL MUSEUM,VETRANS MEMORIAL MUSEUM,NaN,GENERAL MUSEUM,NaN,3740 JOURGENSEN AVE,CASPER,WY,82604,...,42.90091,-106.45691,4.0,25.0,56.0,5,NaN,NaN,NaN,NaN
33046,8405600009,WAR BIRDS MUSEUM,WAR BIRDS MUSEUM,NaN,GENERAL MUSEUM,NaN,8220 FULLER ST,CASPER,WY,82604,...,42.89820,-106.46251,2.0,25.0,56.0,5,NaN,NaN,NaN,NaN
33047,8405600100,WARREN MILITARY HISTORICAL ASSOCIATION,WARREN MILITARY HISOTRICAL ASSOCIATION INC,NaN,HISTORIC PRESERVATION,NaN,PO BOX 9521,CHEYENNE,WY,82003,...,41.15247,-104.78579,1.0,NaN,56.0,5,7.42536e+08,201312.0,0.0,0.0
33048,8405600123,WASHAKIE MUSEUM,WASHAKIE MUSEUM,NaN,ART MUSEUM,NaN,2200 BIG HORN AVE,WORLAND,WY,82401,...,44.01673,-107.93981,3.0,43.0,56.0,5,8.30275e+08,201312.0,427081.0,416614.0
33049,8405600004,WERNER WILDLIFE MUSEUM,WERNER WILDLIFE MUSEUM,NaN,"ZOO, AQUARIUM, OR WILDLIFE CONSERVATION",NaN,405 W 15TH ST,CASPER,WY,82601,...,42.83541,-106.32997,1.0,25.0,56.0,5,NaN,NaN,NaN,NaN
33050,8405600001,WESTERN HISTORY CENTER,WESTERN HISTORY CENTER,NaN,GENERAL MUSEUM,NaN,2308 US HIGHWAY 26,LINGLE,WY,82223,...,42.13033,-104.38695,4.0,15.0,56.0,5,NaN,NaN,NaN,NaN
33051,8405600130,WESTERN PLAINS HISTORIC PRESERVATION ASSOCIATION,WESTERN PLAINS HISTORIC PRESERVATION ASSOCIATI...,NaN,HISTORIC PRESERVATION,NaN,2308 HWY 26,LINGLE,WY,82223,...,42.13033,-104.38695,4.0,15.0,56.0,5,8.3029e+08,201312.0,337100.0,337100.0
33052,8409504336,WESTERN WYOMING COMMUNITY COLLEGE�S ART GALLERY,WESTERN WYOMING COMMUNITY COLLEGE�S ART GALLERY,NaN,ART MUSEUM,WESTERN WYOMING COMMUNITY COLLEGE,2500 COLLEGE DR,ROCK SPRINGS,WY,82901,...,41.59456,-109.23580,4.0,37.0,56.0,5,8.30024e+08,NaN,NaN,NaN
33053,8405600088,WESTON COUNTY MUSEUM DISTRICT FOUNDATION,WESTON COUNTY MUSEUM DISTRICT FOUNDATION,NaN,GENERAL MUSEUM,NaN,PO BOX 698,NEWCASTLE,WY,82701,...,43.85141,-104.19313,3.0,45.0,56.0,5,6.80508e+08,201312.0,0.0,0.0
33054,8405600156,WIND RIVER HERITAGE CENTER,WIND RIVER HERITAGE CENTER,NaN,HISTORY MUSEUM,NaN,PO BOX 206,RIVERTON,WY,82501,...,43.03511,-108.38050,3.0,13.0,56.0,5,8.30317e+08,201412.0,36773.0,36399.0
33055,8405600008,WRIGHT CENTENNIAL MUSEUM,WRIGHT CENTENNIAL MUSEUM,NaN,GENERAL MUSEUM,NaN,104 RANCH CT,WRIGHT,WY,82732,...,44.29111,-105.50166,4.0,NaN,56.0,5,NaN,NaN,NaN,NaN
33056,8405600170,WYOMING ARTIST COMPANY,WYOMING ARTIST CO,NaN,GENERAL MUSEUM,NaN,232 E 2ND ST,CASPER,WY,82601,...,42.84880,-106.32329,1.0,25.0,56.0,5,8.30332e+08,NaN,NaN,NaN
33057,8405600188,WYOMING AVIATION HALL OF FAME,WYOMING AVIATION HALL OF FAME,NaN,GENERAL MUSEUM,NaN,1000 E UNIVERSITY AVENUE DEPT 3924,LARAMIE,WY,82071,...,41.42252,-105.60719,4.0,NaN,56.0,5,8.41398e+08,201412.0,0.0,0.0
33058,8405600005,WYOMING CHILDREN'S MUSEUM & NATURE CENTER,WYOMING CHILDREN'S MUSEUM & NATURE CENTER,NaN,"ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER",NaN,LABONTE PEAK 968 NORTH 9TH STREET,LARAMIE,WY,82072,...,41.32062,-105.58477,4.0,1.0,56.0,5,NaN,NaN,NaN,NaN
33059,8405600002,WYOMING DINOSAUR CENTER,WYOMING DINOSAUR CENTER,NaN,GENERAL MUSEUM,NaN,110 CARTER RANCH RD,THERMOPOLIS,WY,82443,...,43.63915,-108.19800,4.0,17.0,56.0,5,NaN,NaN,NaN,NaN
33060,8405600007,WYOMING FRONTIER PRISON MUSEUM,FRIENDS OF THE OLD PEN INC,NaN,GENERAL MUSEUM,NaN,500 W WALNUT ST,RAWLINS,WY,82301,...,41.79204,-107.24308,4.0,7.0,56.0,5,8.30295e+08,201312.0,0.0,0.0
33061,8405600099,WYOMING MILITIA HISTORICAL SOCIETY,WYOMING MILITIA HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,624 EAST PERSHING BLVD,CHEYENNE,WY,82001,...,41.14606,-104.81511,1.0,21.0,56.0,5,7.42533e+08,201412.0,0.0,0.0
33062,8409400781,WYOMING NATIONAL GUARD MUSEUM,WYOMING NATIONAL GUARD MUSEUM,NaN,GENERAL MUSEUM,NaN,624 EAST PERSHING BLVD,CHEYENNE,WY,82001,...,41.14606,-104.81511,4.0,21.0,56.0,5,NaN,NaN,NaN,NaN
33063,8405600122,WYOMING SECONDARY ART EDUCATORS ASSOCIATION,WYOMING SECONDARY ART EDUCATORS ASSOCIATION INC,NaN,ART MUSEUM,NaN,601 GRACE AVE,WORLAND,WY,82401,...,44.01382,-107.96000,3.0,43.0,56.0,5,8.30265e+08,201312.0,43695.0,43695.0
33064,8405600060,WYOMING STATE HISTORICAL SOCIETY,WYOMING STATE HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,PO BOX 29,THERMOPOLIS,WY,82443,...,43.65576,-108.23115,4.0,17.0,56.0,5,2.37366e+08,NaN,NaN,NaN
33065,8405600098,WYOMING STATE HISTORICAL SOCIETY,WYOMING STATE HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,PO BOX 1212,AFTON,WY,83110,...,42.05345,-104.95313,3.0,31.0,56.0,5,7.42506e+08,NaN,NaN,NaN
33066,8405600179,WYOMING STATE HISTORICAL SOCIETY,WYOMING STATE HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,PO BOX 247,WHEATLAND,WY,82201,...,42.05345,-104.95313,3.0,31.0,56.0,5,8.36003e+08,NaN,NaN,NaN
33067,8405600184,WYOMING STATE HISTORICAL SOCIETY,WYOMING STATE HISTORICAL SOCIETY,NaN,HISTORIC PRESERVATION,NaN,PO BOX 73,SHERIDAN,WY,82801,...,44.82345,-106.87592,4.0,33.0,56.0,5,8.36008e+08,NaN,NaN,NaN
33068,8405600061,WYOMING STATE MUSEUM,WYOMING STATE MUSEUM VOLUNTEERS INC,NaN,GENERAL MUSEUM,NaN,2301 CENTRAL AVENUE,CHEYENNE,WY,82001,...,41.13941,-104.81813,1.0,21.0,56.0,5,2.37369e+08,201404.0,0.0,0.0
33069,8405600158,WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION,WYOMING TERRITORIAL PARK HISTORIC ASSOCIATION INC,NaN,HISTORIC PRESERVATION,NaN,1273 N 15TH ST STE 121,LARAMIE,WY,82072,...,41.32276,-105.57686,3.0,1.0,56.0,5,8.30318e+08,201312.0,208508.0,83981.0
33070,8405600137,WYOMING TRANSPORTATION MUSEUM,WYOMING TRANSPORTATION MUSEUM CORP,NaN,HISTORY MUSEUM,NaN,PO BOX 704,CHEYENNE,WY,82003,...,41.13010,-104.81916,1.0,21.0,56.0,5,8.30296e+08,201309.0,0.0,0.0
33071,8405600199,YELLOWSTONE NATIONAL PARK,LITTLE PEOPLE LEARNING CENTER INC,NaN,HISTORIC PRESERVATION,NaN,NATIONAL PARK SERVICE,YELLOWSTONE NATIONAL PARK,WY,82190,...,44.91303,-110.41584,4.0,29.0,56.0,5,8.30249e+08,201312.0,127496.0,126762.0

In [3]:
museums_df.columns

Index(['Museum ID', 'Museum Name', 'Legal Name', 'Alternate Name',
       'Museum Type', 'Institution Name',
       'Street Address (Administrative Location)',
       'City (Administrative Location)', 'State (Administrative Location)',
       'Zip Code (Administrative Location)',
       'Street Address (Physical Location)', 'City (Physical Location)',
       'State (Physical Location)', 'Zip Code (Physical Location)',
       'Phone Number', 'Latitude', 'Longitude', 'Locale Code (NCES)',
       'County Code (FIPS)', 'State Code (FIPS)', 'Region Code (AAM)',
       'Employer ID Number', 'Tax Period', 'Income', 'Revenue'],
      dtype='object')

In [4]:
museums_df.dtypes

Museum ID                                     int64
Museum Name                                  object
Legal Name                                   object
Alternate Name                               object
Museum Type                                  object
Institution Name                             object
Street Address (Administrative Location)     object
City (Administrative Location)               object
State (Administrative Location)              object
Zip Code (Administrative Location)           object
Street Address (Physical Location)           object
City (Physical Location)                     object
State (Physical Location)                    object
Zip Code (Physical Location)                float64
Phone Number                                 object
Latitude                                    float64
Longitude                                   float64
Locale Code (NCES)                          float64
County Code (FIPS)                          float64
State Code (FIPS)                           float64
Region Code (AAM)                             int64
Employer ID Number                           object
Tax Period                                  float64
Income                                      float64
Revenue                                     float64
dtype: object

In [5]:
tripadvisor_csv_file = "tripadvisor_museum_USonly.csv"
tripadvisor_df = pd.read_csv(tripadvisor_csv_file)
tripadvisor_df.head()

,Unnamed: 0,Address,Description,FeatureCount,Fee,Langtitude,Latitude,LengthOfVisit,MuseumName,PhoneNum,Rank,Rating,ReviewCount,TotalThingsToDo
0,0,"555 Pennsylvania Ave NW, Washington DC, DC 200...",Find out for yourself why everyone is calling ...,3,Yes,-77.019235,38.893138,2-3 hours,Newseum,+1 888-639-7386,8,4.5,"6,309",398
1,1,"1000 5th Ave, New York City, NY 10028-0198",At New York City's most visited museum and att...,12,Yes,-73.962928,40.779166,2-3 hours,The Metropolitan Museum of Art,1 212-535-7710,2,5.0,"36,627","1,028"
2,2,"945 Magazine Street, New Orleans, LA 70130-3813","Founded by historian and author, Stephen Ambro...",11,NaN,-90.070086,29.943004,NaN,The National WWII Museum,+1 504-528-1944,1,5.0,"15,611",319
3,3,"2001 N Colorado Blvd, Denver, CO 80205-5798",The Denver Museum of Nature & Science is the R...,0,NaN,-104.941020,39.769189,NaN,Denver Museum of Nature & Science,303-370-6000,4,4.5,"2,564",231
4,4,"111 S Michigan Ave, Chicago, IL 60603-6488","This Classical Renaissance structure, guarded ...",5,Yes,-87.623724,41.879547,More than 3 hours,Art Institute of Chicago,312 443 3600,1,5.0,"15,532",614

In [6]:
tripadvisor_df.dtypes

Unnamed: 0           int64
Address             object
Description         object
FeatureCount         int64
Fee                 object
Langtitude         float64
Latitude           float64
LengthOfVisit       object
MuseumName          object
PhoneNum            object
Rank                 int64
Rating             float64
ReviewCount         object
TotalThingsToDo     object
dtype: object

In [7]:
tripadvisor_df.columns

Index(['Unnamed: 0', 'Address', 'Description', 'FeatureCount', 'Fee',
       'Langtitude', 'Latitude', 'LengthOfVisit', 'MuseumName', 'PhoneNum',
       'Rank', 'Rating', 'ReviewCount', 'TotalThingsToDo'],
      dtype='object')

In [8]:
tripadvisor_df.dtypes

Unnamed: 0           int64
Address             object
Description         object
FeatureCount         int64
Fee                 object
Langtitude         float64
Latitude           float64
LengthOfVisit       object
MuseumName          object
PhoneNum            object
Rank                 int64
Rating             float64
ReviewCount         object
TotalThingsToDo     object
dtype: object

### Clean dataframes

In [9]:
museums_cols = ["Museum Name", "Museum Type", "City (Administrative Location)",
                "State (Administrative Location)", "Income", "Revenue"]
museums_cleaned = museums_df[museums_cols].copy()

# Rename the column headers
museums_cleaned = museums_cleaned.rename(columns={"Museum Name": "Museum Name",
                                                  "Museum Type": "Museum Type",
                                                  "City (Administrative Location)": "City",
                                                  "State (Administrative Location)": "State",
                                                  "Income": "Income",
                                                  "Revenue": "Revenue"})

# Clean the data by dropping duplicates and setting the index
museums_cleaned.drop_duplicates("Museum Name", inplace=True)
#museums_cleaned.set_index("Museum Name", inplace=True)

museums_cleaned.head()

,Museum Name,Museum Type,City,State,Income,Revenue
0,ALASKA AVIATION HERITAGE MUSEUM,HISTORY MUSEUM,ANCHORAGE,AK,602912.0,550236.0
1,ALASKA BOTANICAL GARDEN,"ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER",ANCHORAGE,AK,1379576.0,1323742.0
2,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM,KENAI,AK,740030.0,729080.0
3,ALASKA EDUCATORS HISTORICAL SOCIETY,HISTORIC PRESERVATION,KENAI,AK,0.0,0.0
4,ALASKA HERITAGE MUSEUM,HISTORY MUSEUM,ANCHORAGE,AK,602912.0,550236.0

In [10]:
#museums_cleaned['id'] = museums_cleaned.index
#museums_cleaned.head()

In [11]:
museums_cleaned.dtypes

Museum Name     object
Museum Type     object
City            object
State           object
Income         float64
Revenue        float64
dtype: object

In [12]:
museums_cleaned.count()

Museum Name    31546
Museum Type    31546
City           31546
State          31546
Income         21814
Revenue        21155
dtype: int64

In [13]:
tripadvisor_cols = ["MuseumName", "Rating", "ReviewCount"]
tripadvisor_cleaned = tripadvisor_df[tripadvisor_cols].copy()

# Rename the column headers
tripadvisor_cleaned = tripadvisor_cleaned.rename(columns={"MuseumName": "Museum Name",
                                                          "Rating": "Rating",
                                                          "ReviewCount": "Review Count"})

# Clean the data by dropping duplicates and setting the index
tripadvisor_cleaned.drop_duplicates("Museum Name", inplace=True)
#tripadvisor_cleaned.set_index("Museum Name", inplace=True)

tripadvisor_cleaned['Museum Name'] = tripadvisor_cleaned['Museum Name'].str.upper()

tripadvisor_cleaned.head()

                         Museum Name  Rating Review Count
0                            NEWSEUM     4.5        6,309
1     THE METROPOLITAN MUSEUM OF ART     5.0       36,627
2           THE NATIONAL WWII MUSEUM     5.0       15,611
3  DENVER MUSEUM OF NATURE & SCIENCE     4.5        2,564
4           ART INSTITUTE OF CHICAGO     5.0       15,532

In [14]:
#tripadvisor_cleaned['id'] = tripadvisor_cleaned.index
#tripadvisor_cleaned.head()

In [15]:
tripadvisor_cleaned.count()

Museum Name     1007
Rating          1007
Review Count    1007
dtype: int64

In [16]:
tripadvisor_cleaned.dtypes

Museum Name      object
Rating          float64
Review Count     object
dtype: object

### Create database connection

In [23]:
connection_string = "postgres:postgres@localhost:5432/museums_db"
engine = create_engine(f'postgresql://{connection_string}')

In [24]:
# Confirm tables
engine.table_names()

['museums_results', 'museums_df', 'tripadvisor_df']

### Load DataFrames into database

In [25]:
museums_cleaned.to_sql(name='museums_df', con=engine, if_exists='append', index=False)

In [26]:
tripadvisor_cleaned.to_sql(name='tripadvisor_df', con=engine, if_exists='append', index=False)

### Check tables from postgres

In [21]:
pd.read_sql_query('select * from museums_df', con=engine).head()

,Museum Name,Museum Type,City,State,Income,Revenue
0,ALASKA AVIATION HERITAGE MUSEUM,HISTORY MUSEUM,ANCHORAGE,AK,"$602,912.00","$550,236.00"
1,ALASKA BOTANICAL GARDEN,"ARBORETUM, BOTANICAL GARDEN, OR NATURE CENTER",ANCHORAGE,AK,"$1,379,576.00","$1,323,742.00"
2,ALASKA CHALLENGER CENTER FOR SPACE SCIENCE TEC...,SCIENCE & TECHNOLOGY MUSEUM OR PLANETARIUM,KENAI,AK,"$740,030.00","$729,080.00"
3,ALASKA EDUCATORS HISTORICAL SOCIETY,HISTORIC PRESERVATION,KENAI,AK,$0.00,$0.00
4,ALASKA HERITAGE MUSEUM,HISTORY MUSEUM,ANCHORAGE,AK,"$602,912.00","$550,236.00"

In [22]:
pd.read_sql_query('select * from tripadvisor_df', con=engine).head()

                         Museum Name  Rating Review Count
0                            NEWSEUM     4.5        6,309
1     THE METROPOLITAN MUSEUM OF ART     5.0       36,627
2           THE NATIONAL WWII MUSEUM     5.0       15,611
3  DENVER MUSEUM OF NATURE & SCIENCE     4.5        2,564
4           ART INSTITUTE OF CHICAGO     5.0       15,532